<!DOCTYPE HTML>
<html>
<head>
    <title>Children who need Immediate Attention</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/immediateAttention.css}" rel="stylesheet">
<!--    <script type="text/javascript" th:src="@{/js/partnersSearchBar.js}">-->
<!--    </script>-->
</head>
<body>
<!--<p1>-->
<!--    Children who need immediate attention.-->
<!--</p1>-->
<div class="immediateAttention">
    <div class="immediateAttention-content" >
        <h1>Children who need immediate attention</h1>
    </div>
</div>
</body>
</html>