<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Child Detail</title>
    <th:block th:include="fragments/layout.html :: headerfiles"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
</head>
<body>

<header th:insert="fragments/layout.html :: header"> </header>

<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- Child Quick Info -->
            <h2 class="display-4" th:text="${child.name}"></h2>
            <h3 class="display-6" th:text="'ID: ' + ${child.id}"></h3>
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th scope="row">Age</th>
                    <td th:text="${child.age}"></td>
                </tr>
                <tr>
                    <th scope="row">DOB</th>
                    <td th:text="${child.dateOfBirth}"></td>
                </tr>
                <tr>
                    <th scope="row">Sex</th>
                    <td th:text="${child.sex}"></td>
                </tr>
                <tr>
                    <th scope="row">LifeStage</th>
                    <td th:text="${child.lifeStage.displayText}"></td>
                </tr>
                <tr>
                    <th scope="row">Location</th>
                    <td th:text="${child.village}"></td>
                </tr>
                <tr>
                    <th scope="row">School</th>
                    <td th:text="${child.school}"></td>
                </tr>
                <tr>
                    <th scope="row">Grade</th>
                    <td th:text="${child.grade}"></td>
                </tr>
                <tr>
                    <th scope="row">Cluster/Family Group</th>
                    <td th:text="${child.family}"></td>
                </tr>
                <tr>
                    <th scope="row">Last Update</th>
                    <td th:text="${child.submissionTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">

            <!-- Quick Scores -->
            <div class="card m-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col" data-bs-toggle="modal" data-bs-target="#safetyModal">
                                Safety: <span th:text="${scores[scores.size()-1].safety} + '%'"></span>
                            </div>
                            <div class="col" data-bs-toggle="modal" data-bs-target="#healthModal">
                                Health: <span th:text="${scores[scores.size()-1].health} + '%'"></span>
                            </div>
                            <div class="col" data-bs-toggle="modal" data-bs-target="#educationModal">
                                Education: <span th:text="${scores[scores.size()-1].education} + '%'"></span>
                            </div>
                            <div class="col" data-bs-toggle="modal" data-bs-target="#participationModal">
                                Participation: <span th:text="${scores[scores.size()-1].participation} + '%'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Trend Lines -->
            <div class="card m-3">
                <div class="card-body">
                    <h3 class="display-6">Trends</h3>
                    <canvas id="trendChart" width="400" height="100"></canvas>
                    <script th:inline="javascript">
                    /*<![CDATA[*/
                        var labels = [];
                        var safetyScores = [];
                        var healthScores = [];
                        var educationScores = [];
                        var participationScores = [];
                        /*[# th:each="score : ${scores}"]*/
                        labels.push([[${score.date}]]);
                        safetyScores.push("[[${score.safety}]]");
                        healthScores.push("[[${score.health}]]");
                        educationScores.push("[[${score.education}]]");
                        participationScores.push("[[${score.participation}]]");
                        /*[/]*/

                        var ctx = document.getElementById('trendChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Safety Score',
                                    data: safetyScores,
                                    fill: false,
                                    borderColor: 'rgb(192, 192, 75)',
                                    tension: 0.1
                                },{
                                    label: 'Health Score',
                                    data: healthScores,
                                    fill: false,
                                    borderColor: 'rgb(75, 192, 192)',
                                    tension: 0.1
                                },{
                                    label: 'Education Score',
                                    data: educationScores,
                                    fill: false,
                                    borderColor: 'rgb(192, 75, 192)',
                                    tension: 0.1
                                },{
                                    label: 'Participation Score',
                                    data: participationScores,
                                    fill: false,
                                    borderColor: 'rgb(192, 192, 192)',
                                    tension: 0.1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    /*]]>*/
                    </script>
                </div>
            </div>

            <!-- Safety Details -->
            <div class="modal fade" id="safetyModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="safetyModalTitle">Safety</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                <tr>
                                    <th scope="row" class="col">Is the child in any life-threatening situation?</th>
                                    <td th:text="${safety.lifeThreateningSituation}"
                                        th:class="${safety.isLifeThreatened()} ? 'table-danger' : 'table-success'"></td>
                                </tr>
                                <tr th:if="${safety.situationDescription != null}">
                                    <th scope="row" class="col">What is the life-threatening situation?</th>
                                    <td th:text="${safety.situationDescription}"></td>
                                </tr>
                                <tr th:if="${safety.actionTaken != null}">
                                    <th scope="row" class="col">What action has been been taken to address the
                                        life-threatening situation?
                                    </th>
                                    <td th:text="${safety.actionTaken}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Health Details -->
            <div class="modal fade" id="healthModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Health</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                <tr>
                                    <th scope="row" class="col">Is the child's health satisfactory?</th>
                                    <td th:text="${health.satisfactory} ? 'Yes' : 'No'"
                                        th:class="${health.satisfactory} ? 'table-success' : 'table-danger'"></td>
                                </tr>
                                <tr th:if="${health.healthSituation != null}">
                                    <th scope="row" class="col">What is the health issue?</th>
                                    <td th:text="${health.healthSituation}"></td>
                                </tr>
                                <tr th:if="${health.healthRemediation != null}">
                                    <th scope="row" class="col">What action has been taken to address the health
                                        issue?
                                    </th>
                                    <td th:text="${health.healthRemediation}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col">Immunized</th>
                                    <td th:unless="${health.immunized != null}" class="table-warning">Unknown</td>
                                    <td th:if="${health.immunized != null}"
                                        th:text="${health.immunized} ? 'Yes' : 'No'"
                                        th:class="${health.immunized} ? 'table-success' : 'table-danger'"></td>
                                </tr>
                                <tr th:if="${health.immunized}">
                                    <th scope="row" class="col">Immunization Date</th>
                                    <td th:text="${health.immunizationDate != null ? health.immunizationDate : 'Unknown'}"></td>
                                </tr>
                                <tr>
                                    <th scope="row" class="col">Parent/Caretaker has participted in Nutrition
                                        Assessment
                                    </th>
                                    <td th:unless="${health.nutritionAssessment != null}" class="table-warning">
                                        Unknown
                                    </td>
                                    <td th:if="${health.nutritionAssessment != null}"
                                        th:text="${health.nutritionAssessment} ? 'Yes' : 'No'"
                                        th:class="${health.nutritionAssessment} ? 'table-success' : 'table-danger'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Education Details -->
            <div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Education</h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-borderless table-sm">
                                <tbody>
                                <tr>
                                    <th scope="row" class="col">School Status</th>
                                    <td th:text="${education.status.displayText}"
                                        th:class="${education.status == T(org.childfund.models.Education.SchoolStatus).IN_SCHOOL} ? 'table-success' : 'table-warning'"></td>
                                </tr>
                                <tr th:if="${education.status == T(org.childfund.models.Education.SchoolStatus).NOT_IN_SCHOOL}">
                                    <th scope="row" class="col">Reason for not being in school</th>
                                    <td th:text="${education.reason.displayText}"></td>
                                </tr>
                                <tr th:if="${education.status == T(org.childfund.models.Education.SchoolStatus).IN_SCHOOL}">
                                    <th scope="row" class="col">School Type</th>
                                    <td th:text="${education.type.displayText}"></td>
                                </tr>
                                <tr th:if="${education.status == T(org.childfund.models.Education.SchoolStatus).IN_SCHOOL}">
                                    <th scope="row" class="col">Grade</th>
                                    <td th:text="${education.grade.displayText}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Participation Details -->
            <div class="modal fade" id="participationModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Participation</h5>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/layout.html :: footer"></div></body>
</html>
