<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Child Detail</title>
    <th:block th:include="fragments/layout.html :: headerfiles"></th:block>
</head>
<body>

<header th:insert="fragments/layout.html :: header"> </header>

<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- Child Quick Info -->
            <h2 th:text="${child.name} + ' - ' + ${child.id}"></h2>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Age</th>
                        <td th:text="${child.age}"></td>
                    </tr>
                    <tr>
                        <th scope="row">DOB</th>
                        <td th:text="${#temporals.format(child.dateOfBirth, 'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Sex</th>
                        <td th:text="${child.sex}"></td>
                    </tr>
                    <tr>
                        <th scope="row">LifeStage</th>
                        <td th:text="${child.lifeStage}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td th:text="${child.village}"></td>
                    </tr>
                    <tr>
                        <th scope="row">School</th>
                        <td th:text="${child.school}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Grade</th>
                        <td th:text="${child.grade}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Cluster/Family Group</th>
                        <td th:text="${child.family}"></td>
                    </tr>
                    <tr>
                        <th scope="row">Last Update</th>
                        <td th:text="${#temporals.format(child.updated, 'dd-MM-yyyy')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">

            <div class="card m-3">
                <div class="card-body">
                    <h3>SAFETY</h3>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-body">
                    <h3>HEALTH</h3>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-body">
                    <h3>EDUCATION</h3>
                </div>
            </div>
            <div class="card m-3">
                <div class="card-body">
                    <h3>PROGRAM INVOLVEMENT</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/layout.html :: footer"></div></body>
</html>