<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head> 
        <title>HOME __________Sponsorship Case Management System</title> 
        <th:block th:include="fragments/layout.html :: headerfiles"></th:block>
    </head>

    <body>
        <header th:insert="fragments/layout.html :: header"> </header>
        <div class="container">
            <div th:insert="fragments/immediateAttention.html :: header">  </div>
        </div>
        <div th:replace="fragments/layout.html :: footer"></div>
    </body>
</html>